/* #trace{
    border: 1px solid black;
    position: absolute;
    width: 90%;
    height: 90%;
} */
.nav2{
    margin-top: 5%;
}
#headImage3{
    width: 100%;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.267));
    position: absolute;
    margin-top: -5%;
}
.saina5{
    position: absolute;
    margin-top: 0%;
}
#saina6{
    width: 25%;
    margin-left: 0.5%;
    margin-top: -6%;
}
#DGI4{
    position: absolute;
    width: 3%;
    margin-left: 63%;
    margin-top: -3.5%;
    border-radius: 24px;
}
#isiOnline3{
    font-size: 24px;
    color: #ffd700;
    font-family: Richness Demo;
    margin-left: 80%;
    margin-top: -4.5%;
    position: absolute;
}
.get_in_touch{
    max-width: 800px;
    /* margin: 20px auto; */
    /* position: relative; */
    position: absolute;
    /* box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1); */
    /* padding: 0px 0px 0px 0px; */
    width: 500px;
    height: 450px;
    margin-top: 15px;
}
.contact-form_add .form-field_add{
    position: relative;
    margin-top: 35px;
    margin-left: -200px;
}
.contact-form_add .input-text{
    display: block;
    width: 200%;
    height: 15px;
    border-width: 0 0 1px 0;
    border-color: rgb(158, 158, 158);
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    outline: none;
    background-color: white;
    font-family: Raleway;
    margin-top: 18px;
    color: rgba(0, 0, 0, 0.829);
}
.contact-form_add .input-text:focus + .label_add,
.contact-form_add .input-text.not-empty + .label_add{
    transform: translateY(-10px);
}
.contact-form_add .input-text:focus{
    outline: none;
}
.contact-form_add .label_add{
    position: absolute;
    left: 2px;
    bottom: 16px;
    font-size: 15px;
    line-height: 25px;
    cursor: text;
    transition: transform 0.2s ease-in-out;
    width: 200px;
    color: rgba(0, 0, 0, 0.699);
    font-style: oblique;
    font-family: Raleway;
}

.form-field_add .btn4{
    outline: none;
    background: #1a8505de;
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 7px 20px;
    color: aliceblue;
    font-family: Raleway;
    font-size: 13px;
    cursor: pointer;
}
.footer2 .copyLogo2{
    display: flex;
}
#copyright2{
    position: absolute;
    font-family: raleway;
    font-size: 9px ;
    margin-top: 580px;
    margin-left: 87%;
    color: rgba(163, 163, 163, 0.562);
}
.picture_add{
    position: absolute;
    margin-left: 15%;
    /* border: 1px solid black; */
}
.picture1{
    position: absolute;
    margin-left: 12%;
}
.picture_add .container-rond{
    position: absolute;
}
.picture1 .container-rond{
    position: absolute;
}
.picture_add .container-give1{
    position: absolute;
    /* border: 1px solid black; */
    /* padding-left: 70%; */
    width: 1%;
    /* margin-left: 50px; */
}
.picture1 .container-give1{
    position: absolute;
}
.picture_add .container-give2{
    position: absolute;
    /* border: 1px solid black; */
    width: 1%;

}
.picture1 .container-give2{
    position: absolute;
}
.picture_add .container-give3{
    position: absolute;
    /* border: 1px solid black; */
    width: 1%;

}
.picture1 .container-give3{
    position: absolute;
}
.picture_add .container-give4{
    position: absolute;
    /* border: 1px solid black; */
    width: 1%;

}
.picture1 .container-give4{
    position: absolute;
}
.picture_add .container-rond #rond{
    width: 450px;
    margin-left: 580px;
    margin-top: 80px;
    opacity: 50%;
}
.picture1 .container-rond #rond{
    width: 450px;
    margin-left: 580px;
    margin-top: 80px;
    opacity: 50%;
}
.picture_add .container-give1 #give1{
    width: 100px;
    margin-left: 450px;
    margin-top: 320px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
    /* border: 1px solid black; */
}
.picture1 .container-give1 #give1{
    width: 100px;
    margin-left: 550px;
    margin-top: 400px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
.picture_add .container-give2 #give2{
    /* border: 1px solid black; */
    width: 270px;
    margin-left: 800px;
    margin-top: 208px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
.picture1 .container-give2 #give2{
    width: 270px;
    margin-left: 670px;
    margin-top: 160px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
.picture_add .container-give3 #give3{
    /* border: 1px solid black; */
    width: 110px;
    margin-left: 950px;
    margin-top: 40px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
.picture1 .container-give3 #give3{
    width: 140px;
    margin-left: 500px;
    margin-top: 70px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
.picture_add .container-give4 #give4{
    width: 100px;
    margin-left: 350px;
    margin-top: 40px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
    /* border: 1px solid black; */
}
.picture1 .container-give4 #give4{
    width: 100px;
    margin-left: 950px;
    margin-top: 150px;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.1));
}
/* ************************************************************************* */
.tableau_add{
    border-collapse: collapse;
    margin: 220px 0;
    font-size: 0.9em;
    min-width: 400px;
    position: absolute;
    margin-left: 0%;
    margin-top: -15%;
    font-weight: bold;
    /* border: 1px solid black; */

}
.tableau_add thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
}
.tableau_add th{
    font-family: Raleway;
    padding: 12px 45px;
    text-align: center;
    font-size: 13px;
}
.tableau_add td{
    font-family: Raleway;
    padding: 12px 45px;
    text-align: center;
    font-size: 17px;
}
.tableau_add tbody tr{
    border-bottom: 1px solid #dddddd;
}
.tableau_add tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
    font-weight: bold;
    color: #009879;
}
.tableau_add tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
}
/* ******************************************************* */
.Vola_aloha{
    border-collapse: collapse;
    margin: 220px 0;
    font-size: 0.9em;
    min-width: 400px;
    position: absolute;
    margin-left: 0%;
    margin-top: 11%;
    font-weight: bold;
}
.Vola_aloha thead tr{
    background-color: #4abd70;
    color: #ffffff;
    text-align: center;
    font-family: Raleway;
}
.Vola_aloha th{
        font-family: Raleway;
        padding: 12px 45px;
        text-align: center;
        font-size: 13px;
}
.Vola_aloha td{
    font-family: Raleway;
    padding: 12px 45px;
    text-align: center;
    font-size: 18px;
}
/* .Vola_aloha tbody tr{
    border-bottom: 1px solid #dddddd;
} */
.Vola_aloha tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
    font-weight: bold;
    color: #009879;
}
/* .Vola_aloha tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
} */
/* .payer{
    border: 1px solid black;
    padding-left: 25px;
    position: absolute;
} */
.Pay{
    /* border: 1px solid black; */
    padding: 4% 3.5% 12% 0%;
    width: 30%;
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
    background-color: #efa10560;
    backdrop-filter: blur(4px);
    border-radius: 30px;
    z-index: -1;
    /* border: 1px solid black; */
}
.container_add{
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.deconnexion_Add{
    position: absolute;
    margin-left: 97%;
    margin-top: 40%;
}
.deconnexion_Add img{
    cursor: pointer;
    width: 75%;
}