/* body{
    overflow:hidden;
} */
/* .contenu{
    position: relative;
    margin-top: 40px;
    border: 3px solid black;
} */
.nav1{
    margin-top: 5%;
}
#headImage2{
    width: 100%;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.267));
    position: fixed;
    margin-top: -5%;
}
.saina3{
    position: absolute;
    margin-top: 0%;
}
#saina4{
    width: 25%;
    margin-left: 0.5%;
    margin-top: -6%;
}
#DGI3{
    position: absolute;
    width: 3%;
    margin-left: 63%;
    margin-top: -3.5%;
    border-radius: 24px;
}
#isiOnline2{
    font-size: 24px;
    color: #ffd700;
    font-family: Richness Demo;
    margin-left: 80%;
    margin-top: -4.5%;
    position: absolute;
}
.All{
    position: relative;
    overflow: hidden;
}
.info{
    position: absolute;
    margin-top: 10%;
    width: 100%;
}
.info-info{
    /* border: 1px solid black; */
    width: 43%;
    /* border-radius: 0px 24px 24px 0px; */
    padding-top: 0.5%;
    padding-bottom: 5%;
    /* background: #EFA105; */
}
.info .infoname{
    width: 70%;
    margin-left: 2%;
    margin-top: 0%;
    position: absolute;
    font-size: 14.5px;
    font-family: Raleway;
    font-style: italic;
    color: rgba(10, 10, 10, 0.671);
}
.info hr{
    width: 20%;
    margin-top: -2%;
    margin-left: 40%;
}
.info .add{
    margin-top: 4%;
    position: absolute;
    margin-left: 650px;
}
.info .add img{
    width: 30px;
    cursor: pointer;
}
.info .search_list{
    margin-left: 90%;
    margin-top: -1%;
}
.info .search_list input{
    border-radius: 24px;
    padding: 5px 3px 5px 3px;
    text-align: center;
    width: 100px;
    border: 1px solid rgb(163, 159, 159);
    font-family: Raleway;
    font-size: 12px;
    display: block;
    outline: none;
}
.info .search_list img{
    position: absolute;
    margin-top: -24px;
    margin-left: 75px;
    width: 21px;
}
/* **************************************************** */
.table1{
    max-height: 330px;
    overflow-y: scroll;
    margin-top: 22%;
    /* padding-bottom: 15%; */
    /* margin: 20px; */
}
.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    /* margin-top: 0%; */
}
.content-table thead tr{
    /* background-color: #009879; */
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
    /* position: sticky; */
}
.content-table th{
    background-color: #009879;
    font-family: Raleway;
    padding: 12px 45px;
    text-align: center;
    font-size: 13px;
    position: sticky;
    top: 0px;
    /* z-index: 1; */
}
.content-table td{
    font-family: Raleway;
    padding: 12px 40px;
    text-align: center;
    font-size: 13px;
    /* z-index: -1; */
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #ebe6e6f3;
    font-weight: bold;
    color: #009879;
}
.content-table tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
}
.contact_List{
    /* border: 1px solid rgb(255, 0, 0); */
    width: 100%;
    padding-top: 20%;
    padding-bottom: 0%;
    margin-top: 20%;
    background: #38B57F;
    position: relative;
}
.contact_List .sous-contact{
    display: flex;
    position: absolute;
    margin-top: -250px;
    margin-left: 25%;
    justify-content: space-around;
}
.contact_List .sous-contact p{
    font-family: raleway;
    /* font-weight: bold; */
    color: rgb(224, 224, 224);
}
/* .contact div{
    margin-top: -50px;
} */
.DirGI{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 40%;
    margin-left: -30%;
}
.SSIF{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 40%;
}
.NOTRE_SITE{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 30%;
}
.social{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
    margin-top: -3%;
    margin-left: 40%;
}
.social p{
    font-family: raleway;
    color: #ffffff;
}
.deconnexion{
    position: absolute;
    margin-left: 97%;
    margin-top: -13%;
}
.deconnexion img{
    cursor: pointer;
    width: 75%;
}