
.navv{
    margin-top: 5%;
    /* position: fixed; */
}
#headImage_Admin{
    width: 100%;
    filter: drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.267));
    position: fixed;
    margin-top: -11%;
}
.table_Admin{
    max-height: 340px;
    overflow-y: scroll;
    margin-top: 22%;
    border-bottom: 2px solid #009879;
    /* border-right: 2px solid #009879; */
    /* border-radius: 12px; */
}
.content-tablee_Admin{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}
.content-tablee_Admin thead tr{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
}
.content-tablee_Admin th{
    background-color: #009879;
    font-family: Raleway;
    padding: 15px 23px;
    text-align: center;
    font-size: 13px;
    position: sticky;
    top: 0px;
}
.content-tablee_Admin td{
    font-family: Raleway;
    padding: 10px 25px 15px;
    text-align: center;
    font-size: 13px;
}
.content-tablee_Admin tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-tablee_Admin tbody tr:nth-of-type(even){
    background-color: #f1ececf3;
    color: #009879;
    font-weight: bold;
}
.content-tablee_Admin tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
}
#ovaina{
    cursor: pointer;
}
#ovaina img{
    width: 25%;
    /* display: inline; */

   /* // padding-left: 9px; */ 
     padding-left: 5px;

    /* padding-right: 5px; */
}
.contact_admin{
    /* border: 1px solid rgb(255, 0, 0); */
    width: 100%;
    padding-top: 20%;
    padding-bottom: 0%;
    margin-top: 20%;
    background: #38B57F;
    position: relative;
}
.contact_admin .sous-contact{
    display: flex;
    position: absolute;
    margin-top: -250px;
    margin-left: 25%;
    justify-content: space-around;
}
.contact_admin .sous-contact p{
    font-family: raleway;
    /* font-weight: bold; */
    color: rgb(224, 224, 224);
}
/* .contact div{
    margin-top: -50px;
} */
.DirGI{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 40%;
    margin-left: -30%;
}
.SSIF{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 40%;
}
.NOTRE_SITE{
    /* border: 1px solid red; */
    padding-right: 30px;
    width: 30%;
}
.social{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
    margin-top: -3%;
    margin-left: 40%;
}
.social p{
    font-family: raleway;
    color: #ffffff;
}
.info .search_Admin{
    margin-left: 88%;
    margin-top: 4%;
}
.info .search_Admin input{
    border-radius: 24px;
    padding: 5px 3px 5px 3px;
    text-align: center;
    width: 140px;
    border: 1px solid rgb(163, 159, 159);
    font-family: Raleway;
    font-size: 12px;
    display: block;
    outline: none;
}
.info .search_Admin img{
    position: absolute;
    margin-top: -24px;
    margin-left: 110px;
    width: 21px;
}
.deconnexion_List_Admin{
    position: absolute;
    margin-left: 97%;
    margin-top: -9%;
}
.deconnexion_List_Admin img{
    cursor: pointer;
    width: 75%;
}