
.navv{
    margin-top: 5%;
}
.content-tablee{
    border-collapse: collapse;
    margin: 220px 0;
    font-size: 0.9em;
    min-width: 400px;
    position: absolute;
    margin-top: 11.5%;
}
.content-tablee thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Raleway;
}
.content-tablee th{
    font-family: Raleway;
    padding: 8px 50px 8px;
    text-align: center;
    font-size: 13px;
}
.content-tablee td{
    font-family: Raleway;
    padding: 10px 25px 15px;
    text-align: center;
    font-size: 13px;
}
.content-tablee tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-tablee tbody tr:nth-of-type(even){
    background-color: #f1ececf3;
    color: #009879;
    font-weight: bold;
}
.content-tablee tbody tr:last-of-type{
    border-bottom: 1px solid #009879;
}
#ovaina{
    cursor: pointer;
}
#ovaina img{
    width: 17%;
    /* display: inline; */
    padding-left: 5px;
    /* padding-right: 5px; */
}

